*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
header{
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
    position: sticky;
    top: 0px;
    background: white;
}

nav{
    min-height: 10vh;
    margin: auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;

}
section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
section h2{
    font-size: 4rem;
    color: white;
    margin: 30px;
}
.home {
    background: linear-gradient(to right, #c04848, #480048);
}
section button{
    background-color: white;
    padding: 1%;
    margin: 1%;
    border-radius: 15px;
    border: white;
    display: block;
}
a{
    text-decoration: none;
    color:orange;
}
h6{
    color: white;
}
#hyu {
    margin: 100px;
}